


h2 {
    font-size: 50px;
    color: #0f0101;
    font-weight:bold ;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 60px 0;
    border: 3px solid rgb(0, 0, 235);
    padding: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #030303;
    font-size: 25px;    
}

a:hover {
    color: #c83ce7;
    font-size: 30px;
}
