.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 250px; 
    padding: 10px; 
}

button {
    width: 250px; 
    height: 50px; 
    padding: 10px; 
}
h2{
    text-align: center;
    margin-top: 50px;
}
