body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-text {
    text-align: center;
    font-size: 50px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

